<html>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
    <style>
        .container{
    position: absolute;
    left:200px;
    top:100px;
}
table{
    border:6px solid rgb(19, 17, 17);
    width: 500px;
}
th{
    border: 2px solid;
    padding: 16px;
    background-color: rgba(35, 231, 35, 0.144);
}
td{
    border: 2px solid;
    padding: 16px;
    word-wrap: break-word;
    max-width: 200px;
    
}
th,td{
    margin: 16px;
}

    </style>
    <script>
        $(()=>{
            $(".main").load("/header.html")
        })
    </script>
    <body>
        <div class="header">
           
        </div>
        
        <div class="container">
            <% if(result!=0) { %>

            <table>
                <tr>
                    <th>Department</th>
                    <th>Total Employers</th>
                    <th>Action</th>
               </tr>
               <% for(let i=0;i<result.length;i++){ %>
                   <tr>
                       <td><%= result[i].Name %></td>
                       <td><%= result[i].count %></td>
                       <%} %>
                     <% } %>
            
                   </tr>
            </table>

            </div>
    </body>
</html>