<html>
    <link rel="stylesheet" href="/static/header.css">
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/org.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/header.js"></script>


<script>
  
    $(()=>{
      
        $("#export").on("click",function(){

    

$.get("/interviews/export",function(response){

    if(response.status=="error"){
        alert("No Interviews to download")
        return false;
    }
    window.open(location.hash+"/download/interviews/export.csv")

    
})
})
$("#del_org").on("click",(req,res)=>{
            Swal.fire({
  title: 'Do you want to Delete the Organization?',
  showCancelButton: true,
  confirmButtonText: 'YES',
}).then((result) => {
  /* Read more about isConfirmed, isDenied below */
  if (result.isConfirmed) {
      $(".overlays").css("display","none")
      $(".loading").removeAttr("style")
   
    $.get("/Org/delete",function(response){
        console.log(response)
        if(response){
           location.href="/home"
        }else{
            alert("No Permission")
            $(".overlays").removeAttr("style")
            (".loading").css("display","none")


        }
    })
  } else if (result.isDenied) {
    Swal.fire('Changes are not saved', '', 'info')
  }
})
        })
       
    
        $("#dept_btn").on("click",(req,res)=>{
            Swal.fire({
                title:'Enter Department Name',
                input:'text',
                showCancelButton:true,
                showLoaderOnConfirm:true
            }).then((value)=>{
                let data={}
                data.value= value.value[0].toUpperCase()+value.value.substring(1);
                token=$("#token").val()
              
                $.ajax({
                    type:"POST",
                    url:"/department/add",
                    data:{data:data.value,token:token},
                    success:function(response){
                        if(response=="ERROR"){
                            Swal.fire("Department Name invalid or already exist")
                        }
                        // should reload as we allow some fields to be empty so 
                        location.reload()
                        // let b=document.createElement("input");
                        // b.setAttribute("type","button")
                        // b.setAttribute("onclick",`location.href='/department/${data}`)
                        // b.value=response;
                        // document.getElementsByClassName("container")[0].appendChild(b)
                    }
                })
            })
        })
    })
</script>
</style>
    <body>
        <div class="header">
            <p onclick="location.href='/home'" >Home</p>
            <p id="control" onclick="location.href='/org/settings'">Settings</p>
            <p onclick="location.href='/logout'">Logout</p>
            <p id="Org"><%=result[0].Name %></p>

           
        </div>
        
        
        <div class="update">
           <!-- <a href="/qupdate">Need A quick Update Report?</a>-->
            <input type="button" value="Add Department" id="dept_btn">
            <input type="hidden" value="<%=token%>" id="token">
        </div>
        <% if(level==1){ %>
            <div class="sidebar">
                <input type="button" id="export" value="Interviews Reports">
               <input type="button" id="del_org" value="Delete Organization">
               <input type="button" id="live_chat" onclick="location.href='/chat'" value="Live Chat">
            </div>
        <% } %>
        
        <div class="container">
<% if(locals.result){ %>
<% for(let i=0;i<result[0].departments.length;i++){ %>
    <input type="button" value="<%= result[0].departments[i].Name %>" onclick="location.href='/department/<%= result[0].departments[i].Name %>'">
<% } %>
            
        </div>
    <% } %>
    </body>
</html>