.container{
    position: absolute;
    left:20%;
    top:30%;
    max-width: 600px;
}
.container input{
    display:inline-block;
    width: 140px;
    height: 60px;
    background-color: rgba(130, 131, 131, 0.322);
    border-radius: 6px;
    margin: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0/0.2);
}
.update{
    position: relative;
    left:70%;
}

#dept_btn{
    margin:10px;
    width: 200px;
    height: 60px;
    position: relative;
    top:100px;
}
.update{
    position: relative;
    bottom:100px;
}


#dept_btn{
    background-color: rgba(13, 13, 105, 0.74);
    color:rgb(226, 212, 212);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}